* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}

.books div{
    background-color: aquamarine;
    padding: 15px 15px;
    border-radius: 10px;
}
