* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}

.books div{
    background-color: aquamarine;
    padding: 15px 15px;
    border-radius: 10px;
}


#add-book {
    height: 35px;
    width: 80px;
    margin: 25px auto 25px;
    display: block;
}

form {
    display: none;
    width: 350px;
    margin: 0px auto;
    text-align: center;
}

#fieldset {
    padding: 15px 0px;
}

/* form tags here */

#name {
    margin-right: -10px;
}

#page {
    margin-right: -56px;   
}

#read {
    margin-left: -35px;
    margin-right: 20px;
}

#yes-radio {
    margin-right: 35px;
}

#submitButton {
    padding: 5px 5px;
}